<div class="container-xl text-center my-5 justify-content-center">
  <h3 class="text-muted mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      fill="currentColor"
      class="bi bi-basket2-fill"
      viewBox="0 0 20 20"
    >
      <path
        d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"
      />
    </svg>
    <span class="mx-2">Basket</span>
  </h3>

  <p class="lead mx-auto my-3" style="max-width: 70ch">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem aut,
    neque nesciunt dolorum animi? Possimus laboriosam quaerat similique tempore
    provident nam harum reiciendis nulla atque quos? Delectus, quam itaque.
  </p>

  <p class="lead mb-5">Made with ❤️ By Hesham Afifi</p>
</div>
