ul {
  z-index: 999999999999999999999999;
}

.item-card {
  border: 1px solid #fff;
}

.item-card:hover {
  cursor: pointer;
  border: 1px solid dodgerblue;
  box-shadow: 0 0 20 rgba(0, 0, 0, 0.3);
}
